saves/HestonModel/Polynomial Matrices/B4[0, 1, 2, 3]_m=1_par=[1.000, 0.160, 0.300, -0.500]_dt=1.0e+00.txt
saves/HestonModel/Polynomial Matrices/B4[1, 2, 3]_m=1_par=[1.000, 0.160, 0.300, -0.500]_dt=1.0e+00.txt